<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>云裳·汉服商城</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minum-scale=1.0, maxum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
	<link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
	<script>
        /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
	</script>
</head>

<body class="layui-layout-body">

<div id="LAY_app">
	<div class="layui-layout layui-layout-admin">
		<div class="layui-header">
			<!-- 头部区域 -->
			<ul class="layui-nav layui-layout-left">
				<li class="layui-nav-item layadmin-flexible" lay-unselect>
					<a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
						<i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
					</a>
				</li>
				<li class="layui-nav-item layui-hide-xs" lay-unselect>
					<a href="/home/index" target="_blank" title="前台">
						<i class="layui-icon layui-icon-website"></i>
					</a>
				</li>
				<li class="layui-nav-item" lay-unselect>
					<a href="javascript:;" layadmin-event="refresh" title="刷新">
						<i class="layui-icon layui-icon-refresh-3"></i>
					</a>
				</li>
			</ul>
			<ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">

				<li class="layui-nav-item layui-hide-xs" lay-unselect>
					<a href="javascript:;" layadmin-event="theme">
						<i class="layui-icon layui-icon-theme"></i>
					</a>
				</li>
				<li class="layui-nav-item layui-hide-xs" lay-unselect>
					<a href="javascript:;" layadmin-event="note">
						<i class="layui-icon layui-icon-note"></i>
					</a>
				</li>
				<li class="layui-nav-item" lay-unselect>
					<a href="javascript:;">
						<cite>[[${session?.user?.name}]]</cite>
					</a>
					<dl class="layui-nav-child">
						<dd>
							<!--<a th:href="@{/admin/passwd}">修改密码</a>-->
							<div class="site-demo-button" id="layerDemo" style="margin-bottom: 0;">
								<a data-method="offset" data-type="auto" id="passwd" href="#">修改密码</a>
							</div>
						</dd>
						<hr>
						<dd  style="text-align: center;">
							<a href="/logout">退出系统</a>
						</dd>
					</dl>
				</li>

				<li class="layui-nav-item layui-hide-xs" lay-unselect>
					<a href="javascript:;" layadmin-event="about"><i class="layui-icon layui-icon-more-vertical"></i></a>
				</li>
				<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
					<a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
				</li>
			</ul>
		</div>

		<!-- 侧边菜单 -->
		<div class="layui-side layui-side-menu" >
			<div class="layui-side-scroll">
				<div class="layui-logo" lay-href="/admin/echars">
					<span>云裳·汉服商城</span>
				</div>

				<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
					<li data-name="home" class="layui-nav-item">
						<a href="javascript:;" lay-tips="主页" lay-direction="2">
							<i class="layui-icon layui-icon-home"></i>
							<cite>主页</cite>
						</a>
						<dl class="layui-nav-child">
							<dd data-name="console" class="layui-this">
								<a lay-href="/user/listPage">控制台</a>
							</dd>
						</dl>
					</li>
					<li data-name="component" class="layui-nav-item">
						<a href="javascript:;" lay-tips="用户" lay-direction="2">
							<i class="layui-icon layui-icon-user"></i>
							<cite>用户管理</cite>
						</a>
						<dl class="layui-nav-child">
							<dd data-name="teline" th:if="${session.user.type==1}">
								<a lay-href="/user/listPage">用户列表</a>
							</dd>
							<dd data-name="teline" th:if="${session.user.type!=1}">
								<a lay-href="/user/listPage">个人信息</a>
							</dd>
							<dd th:if="${session.user.type==1}">
								<a lay-href="/userNote/listPage?actionType=1">点赞列表</a>
							</dd>
							<dd th:if="${session.user.type==1}">
								<a lay-href="/userNote/listPage?actionType=2">收藏列表</a>
							</dd>
							<dd th:if="${session.user.type==1}">
								<a lay-href="/userNote/listPage?actionType=3">评论列表</a>
							</dd>

						</dl>
					</li>



					<li data-name="component" class="layui-nav-item" th:if="${session.user.type!=2}">
						<a href="javascript:;" lay-tips="商品管理" lay-direction="2">
							<i class="layui-icon layui-icon-speaker"></i>
							<cite>商品管理</cite>
						</a>
						<dl class="layui-nav-child" th:if="${session.user.type==1}">
							<dd data-name="teline">
								<a lay-href="/category/listPage">商品分类</a>
							</dd>
						</dl>
						<dl class="layui-nav-child" >
							<dd data-name="teline">
								<a lay-href="/goods/listPage">商品列表</a>
							</dd>
						</dl>
					</li>
					<li data-name="component" class="layui-nav-item"  th:if="${session.user.type!=2}">
						<a href="javascript:;" lay-tips="库存明细" lay-direction="2">
							<i class="layui-icon layui-icon-camera"></i>
							<cite>库存明细</cite>
						</a>
						<dl class="layui-nav-child" >
							<dd data-name="teline">
								<a lay-href="/inventory/listOutPage">出库记录</a>
							</dd>
						</dl>
						<dl class="layui-nav-child" >
							<dd data-name="teline">
								<a lay-href="/inventory/listInPage">入库记录</a>
							</dd>
						</dl>
					</li>
					<li data-name="template" class="layui-nav-item" th:if="${session.user.type!=2}">
						<a href="javascript:;" lay-tips="订单" lay-direction="2">
							<i class="layui-icon layui-icon-tree"></i>
							<cite>用户订单</cite>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a lay-href="/order/listPage">订单列表</a>
							</dd>
						</dl>
					</li>
					<li data-name="template" class="layui-nav-item" th:if="${session.user.type==1}">
						<a href="javascript:;" lay-tips="用户积分" lay-direction="2">
							<i class="layui-icon layui-icon-auz"></i>
							<cite>用户账户</cite>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a lay-href="/userAccount/listPage">变动记录</a>
							</dd>
						</dl>
					</li>
					<li data-name="template" class="layui-nav-item" th:if="${session.user.type==1}">
						<a href="javascript:;" lay-tips="用户预约" lay-direction="2">
							<i class="layui-icon layui-icon-about"></i>
							<cite>浏览记录</cite>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a lay-href="/userGoods/listPage?type=1">浏览列表</a>
							</dd>
						</dl>
					</li>

					<li data-name="template" class="layui-nav-item" th:if="${session.user.type==1}">
						<a href="javascript:;" lay-tips="用户预约" lay-direction="2">
							<i class="layui-icon layui-icon-about"></i>
							<cite>笔记管理</cite>
						</a>
						<dl class="layui-nav-child">
							<dd>
								<a lay-href="/note/listPage?type=1">笔记列表</a>
							</dd>
						</dl>
					</li>


					<li data-name="user" class="layui-nav-item" th:if="${session.user.type==1}">
						<a href="javascript:;" lay-tips="通知" lay-direction="2">
							<i class="layui-icon layui-icon-spread-left"></i>
							<cite>系统管理</cite>
						</a>
						<dl class="layui-nav-child">
							<dd data-name="teline" th:if="${session.user.type==1}">
								<a lay-href="/dictValue/listPage">数据字典</a>
							</dd>
						</dl>
					</li>


				</ul>
			</div>
		</div>


		<!-- 页面标签 -->
		<div class="layadmin-pagetabs" id="LAY_app_tabs">
			<div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
			<div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
			<div class="layui-icon layadmin-tabs-control layui-icon-down">
				<ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
					<li class="layui-nav-item" lay-unselect>
						<a href="javascript:;"></a>
						<dl class="layui-nav-child layui-an-fadein">
							<dd layadmin-event="closeThisTabs">
								<a href="javascript:;">关闭当前标签页</a>
							</dd>
							<dd layadmin-event="closeOtherTabs">
								<a href="javascript:;">关闭其它标签页</a>
							</dd>
							<dd layadmin-event="closeAllTabs">
								<a href="javascript:;">关闭全部标签页</a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
			<div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
				<ul class="layui-tab-title" id="LAY_app_tabsheader">
					<li lay-id="/user/listPage" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
				</ul>
			</div>
		</div>

		<!-- 主体内容 -->
		<div class="layui-body" id="LAY_app_body">
			<div class="layadmin-tabsbody-item layui-show">
				<iframe src="/user/listPage" frameborder="0" id="mylayadmin-iframe" class="layadmin-iframe"></iframe>
			</div>
		</div>

		<!-- 辅助元素，一般用于移动设备下遮罩 -->
		<div class="layadmin-body-shade" layadmin-event="shade"></div>
	</div>
</div>

<script src="/static/layuiadmin/layui/layui.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script>
	// 如果是采购员 则弹窗提示未读消息数量
	var UnReadMessage=[[${UnReadMessage}]];
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');
    layui.use('layer', function(){ //独立版的layer无需执行这一句
        var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句

		console.log("当前未读消息数量为：",UnReadMessage);
		if(UnReadMessage>0){
		    var height=$(window).height();
		    var width=$(window).width();
		    console.log(width,height);
            layer.open({
                id:1,
                type: 0,
                title:false,
                // skin:'layui-layer-rim',
                offset: [height*0.9,width*0.5],
                closeBtn :0, //layer提供了两种风格的关闭按钮，可通过配置1和2来展示，如果不显示，则closeBtn: 0
                // time: 5000,//默认不会自动关闭。当你想自动关闭时，可以time: 5000，即代表5秒后自动关闭，注意单位是毫秒（1秒=1000毫秒）
                shade: 0 ,//不显示遮罩
                anim: 6 , //anim - 弹出动画
                move:'#UnReadMessage',
                content: '<span id="UnReadMessage">你有'+UnReadMessage+'条未读消息!</span>',
                btn:['查看','关闭'],
                btn1:function (index,layero) {
                    $(".layadmin-iframe").attr("src","/message/listPage");

                    layer.close(index);
                },
                btn2:function (index,layero) {
                    layer.close(index);
                }

            });
		}

        //触发事件
        var active = {
            offset: function(othis){
                layer.open({
                    id:1,
                    type: 1,
                    title:'修改密码',
                    skin:'layui-layer-rim',
                    area:['450px', 'auto'],

                    content: ' <div class="row" style="width: 420px;  margin-left:7px; margin-top:10px;">'
                    +'<div class="col-sm-12" style="margin-top: 10px">'
                    +'<div class="input-group">'
                    +'<span class="input-group-addon"> 原密码:</span>'
                    +'<input id="oldpwd" type="password"  class="form-control layui-input" placeholder="原密码">'
                    +'</div>'
                    +'</div>'
                    +'<div class="col-sm-12">'
                    +'<div class="input-group">'
                    +'<span class="input-group-addon"> 新 密 码   :</span>'
                    +'<input id="firstpwd" type="password" class="form-control layui-input" placeholder="请输入密码">'
                    +'</div>'
                    +'</div>'
                    +'<div class="col-sm-12" style="margin-top: 10px">'
                    +'<div class="input-group">'
                    +'<span class="input-group-addon">确认密码:</span>'
                    +'<input id="secondpwd" type="password" class="form-control layui-input" placeholder="请再输入一次密码">'
                    +'</div>'
                    +'</div>'
                    +'</div>'
                    ,
                    btn:['保存','取消'],
                    btn1:function (index,layero) {
						var firstpwd=$("#firstpwd").val()
						var secondpwd=$("#secondpwd").val()
						var oldpwd=$("#oldpwd").val()
						if (firstpwd!=secondpwd){
                            layer.msg("两次密码不一致！", {icon: 2, time: 1500});
							return false;
						}else {
						    $.ajax({
                                url:"/user/updatePWd?password="+firstpwd+"&oldpwd="+oldpwd+"&id="+[[${session?.user?.id}]],
                                type:'post',
								success:function (res) {
                                    if (res.success){
                                        layer.msg(res.msg, {icon: 1, time: 1500},function () {
                                            refreshParent();
                                        });
                                        layer.close(index);
									}else {
                                        layer.msg(res.msg, {icon: 2, time: 1500});
									}

                                },error:function () {
                                    layer.msg(res.msg, {icon: 2, time: 1500});
                                }
							})
						}
                    },
                    btn2:function (index,layero) {
                        layer.close(index);
                    }

                });
            }
        };

        $('#layerDemo #passwd').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>
</body>

</html>