<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/public/head::head(~{::title},~{},~{})">
    <title>编辑用户-云裳·汉服商城</title>
</head>

<body>
<style type="text/css">
    .weadmin-body{
        padding: 20px;
    }
    .layui-form-item {
        margin-bottom: 30px;
        clear: both;
        *zoom: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .layui-form-item .layui-form-label {
        float: left;
        width: 10%;
        min-width: 110px;
    }
    .layui-form-item .layui-input-inline {
        float: left;
        width: 90%;
    }

    .layui-form-item .wrapper-item{
        width:50%
    }
    .wrapper-item .layui-form-label {
        float: left;
        width: 30%;
        min-width: 110px;
    }
    .wrapper-item .layui-input-inline {
        float: left;
        width: 60%;
    }
    .we-red{
        color: red;
    }
    .mybtn{
        width: 25%;max-width: 300px;
        background-color: #c38342;
    }
</style>
<div class="weadmin-body">
    <form class="layui-form layui-form-pane" id="form" enctype="multipart/form-data" th:object="${user}">
        <!--<input type="hidden" name="type" th:value="${user.type}"/>-->
        <input type="hidden" name="id" th:field="*{id}"/>

        <div class="layui-form-item">
            <div class="wrapper-item">
                <label for="name" class="layui-form-label">
                    <span class="we-red">*</span>姓名
                </label>
                <div class="layui-input-inline marginright">
                    <input type="text" id="name"  name="name" th:field="*{name}" required lay-verify="required"
                           placeholder="姓名" autocomplete="off"  class="layui-input">
                </div>
            </div>
            <div class="wrapper-item">
                <label for="code" class="layui-form-label">
                    <span class="we-red">*</span>信誉分
                </label>
                <div class="layui-input-inline">
                    <input type="number" id="creditScore"  th:field="*{creditScore}" name="creditScore" required lay-verify="required"
                           placeholder="请输入用户信誉分" autocomplete="off"  class="layui-input">
                </div>
            </div>
<!--            <div class="wrapper-item">-->
<!--                <label for="code" class="layui-form-label">-->
<!--                    <span class="we-red">*</span>账号-->
<!--                </label>-->
<!--                <div class="layui-input-inline">-->
<!--                    <input type="text" id="code"  th:field="*{code}" name="code" required lay-verify="required"-->
<!--                           placeholder="账号" autocomplete="off"  class="layui-input">-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="layui-form-item">
            <div class="wrapper-item">
                <label for="email" class="layui-form-label">
                    <span class="we-red">*</span>邮箱
                </label>
                <div class="layui-input-inline marginright">
                    <input type="text"  id="email"  th:field="*{email}" name="email" lay-verify="email"
                           placeholder="邮箱" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="wrapper-item">
                <label for="mobile" class="layui-form-label">
                    <span class="we-red">*</span>手机号
                </label>
                <div class="layui-input-inline" >
                    <input type="text"  id="mobile" th:field="*{mobile}"  name="mobile" required lay-verify="phone"
                           placeholder="手机号" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="wrapper-item">
                <label for="mobile" class="layui-form-label">
                    <span class="we-red">*</span>性别
                </label>
                <div class=" layui-input-inline marginright" >
                    <input type="radio" name="sex" value="1" lay-skin="primary" title="男" th:field="*{sex}" />
                    <input type="radio" name="sex" value="2" lay-skin="primary" title="女" th:field="*{sex}" />
                </div>
            </div>

            <div class="wrapper-item">
                <label for="age" class="layui-form-label">
                    年龄
                </label>
                <div class=" layui-input-inline" >
                    <input type="number"  id="age"  name="age" th:field="*{age}" required lay-verify="required"
                           placeholder="年龄" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>

        <!--<div class="layui-form-item" th:if="${user.type==2}">-->
            <!--<label for="mobile" class="layui-form-label" style="width: 15%">-->
                <!--<span class="we-red">*</span>个人简介-->
            <!--</label>-->
            <!--<div class=" layui-input-inline" style="width: 85%">-->
                <!--<textarea class="layui-textarea" th:text="${user.field0}" name="field0"></textarea>-->
            <!--</div>-->
        <!--</div>-->


        <div class="layui-form-item">
            <div class="wrapper-item">
                <label for="L_pass" class="layui-form-label">
                    密码
                </label>
                <div class="layui-input-inline marginright">
                    <input type="password" id="L_pass" name="password" lay-verify="pass"
                           placeholder="登录密码，不填写则不更改" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="wrapper-item">
                <label for="L_repass" class="layui-form-label">
                    确认密码
                </label>
                <div class="layui-input-inline" >
                    <input type="password" id="L_repass"  lay-verify="repass"
                           placeholder="密码为6到12个字符" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>



        <div class="layui-form-item" style="justify-content: flex-start;">
            <div class="wrapper-item">
                <label for="field1" class="layui-form-label">
                    原始头像
                </label>
                <div class="layui-input-inline marginright" >
                    <img id="field1" th:src="'/file/fileDown/?saveName='+${user.field1}" style="max-height: 100px;">
                </div>
            </div>
            <div class="wrapper-item">
                <label class="layui-form-label">用户头像</label>
                <div class="layui-input-inline" style="margin-right: 0px;width: 30%">
                    <button type="button" onclick="clearImg();" class="layui-btn" id="uploadimg">
                        <i class="layui-icon">&#xe67c;</i>选择图片
                    </button>
                </div>
                <span  id="imgBox"></span>
            </div>
        </div>
        <div class="layui-form-item" style="display: flex;justify-content: center">
            <button  class="layui-btn mybtn " lay-filter="edit" lay-submit>修改</button>
        </div>
    </form>
</div>
<!-- 百度编辑器配置文件 -->
<script type="text/javascript" th:src="@{/static/common/plugs/ueditor/ueditor.config.js}"></script>
<!-- 百度编辑器编辑器源码文件 -->
<script type="text/javascript" th:src="@{/static/common/plugs/ueditor/ueditor.all.js}"></script>

<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
<script type="text/javascript">
    layui.use(['form', 'layer','upload', 'jquery','laydate', 'admin'], function () {
        var form = layui.form,
            $ = layui.jquery,
            laydate = layui.laydate,
            upload = layui.upload,
            layer = layui.layer;

        laydate.render({
            elem: '#bornDate',
            type: 'datetime',
            trigger: 'click'
        });

        //自定义验证规则
        form.verify({
            phone: [/1[345789]\d{9}$/, '请输入正确的手机号'],
            email: [/(.+)@.+\..+$/, '请输入正确的邮箱'],
            repass: function (value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });
        //图片上传
        var uploadInst = upload.render({
            elem: '#uploadimg'
            , multiple: false//多图上传，不支持IE8/9
            , field: 'file'//后台接收字段名
            , auto: false//不自动上传
            , acceptMime: 'image/*'//（只显示图片文件）
            , choose: function (obj) { //选择图片后执行
                //预读本地文件，如果是多文件，则会遍历。(不支持ie8/9)
                $("#imgBox").empty();
                obj.preview(function (index, file, result) {
                    var img = "<img width='100px' height='100px' src='" + result + "'alt='' class='img-rounded'>";
                    $("#imgBox").append(img);
                });
            }
        });
        //监听提交
        form.on('submit(edit)', function (data) {
            console.log(data.field);
            var formData = new FormData($("#form")[0]);
            $.ajax({
                url: "/user/edit",
                type: "post",
                data: formData,
                processData: false,
                contentType: false,
                beforeSend: function(){
                    //返回的参数item，即为当前的input DOM对象
                    index = layer.load(1,{shade: [0.3,'grey']});
                },
                success: function (res) {
                    //关闭遮罩层
                    layer.close(index);
                    if (res.success == true) {
                        layer.msg(res.msg, {icon: 1, time: 1500},function () {
                            refreshParent();
                        });
                    } else {
                        layer.msg(res.msg, {icon: 2, time: 1500});
                    }
                },
                error: function (res) {
                    layer.msg(res, {icon: 2, time: 1500});
                },
                complete: function () {
                }
            });
            return false;
        });
    });
    /*清除回显图片*/
    function clearImg() {
        $("#imgBox").empty();
    }
</script>
</body>

</html>