<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/public/head::head(~{::title},~{},~{})">
    <title>用户列表-云裳·汉服商城</title>
</head>
<body>
<style>
    .test-table-reload-btn{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <span>用户列表</span>
                    <a class="layui-btn " style="line-height:1.6em;margin-top:3px;float:right"
                       href="javascript:location.replace(location.href);" title="刷新">
                        <i class="layui-icon" style="right:1.2em">&#xe666;</i></a>
                </div>
                <div class="layui-card-body">
                    <div class="test-table-reload-btn" style="margin-bottom: 10px;">
                        <form id="search-form" class="layui-form">
                            <div class="layui-inline">
                                <input class="layui-input" placeholder="请输入姓名" name="name"  autocomplete="off">
                            </div>
                            <div class="layui-inline">
                                <input class="layui-input"  placeholder="请输入手机号" name="mobile"  autocomplete="off">
                            </div>
                        </form>
                        <button class="layui-btn"  style="float:left" data-type="reload" id="formsearch">搜索</button>
                        <button class="layui-btn"  style="float:left"  id="formreset">重置</button>
                    </div>
                </div>
                <div class="layui-card-body">
                    <table class="layui-hide" id="test-table-reload" lay-filter="test-table-reload"></table>
                    <!-- 行工具栏-->
                    <script type="text/html" id="barlist">
                       
                        <a th:if="${session.type==1}" class="layui-btn layui-btn-xs" style="background-color: #7faa28" lay-event="up" title="启用"><i class="layui-icon layui-icon-face-smile"></i></a>
                        <a th:if="${session.type==1}" class="layui-btn layui-btn-xs layui-btn-warm" lay-event="down" title="禁用"><i class="layui-icon layui-icon-face-cry"></i></a>
                        
                        <a class="layui-btn layui-btn-xs" lay-event="edit" title="编辑"><i class="layui-icon">&#xe642;</i></a>
                      
                        <a th:if="${session.type==1}" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete" title="删除"><i class="layui-icon">&#xe640;</i></a>
                        
                    </script>
                    <!--头部工具栏-->
                    <script type="text/html" id="toolbarHead">
                        <div class="layui-btn-container" th:if="${session.type==1}">
                           
                            <button class="layui-btn layui-btn-sm layui-btn-warm" lay-event="add">添加</button>
                            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除</button>
                           
                        </div>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    layui.config({base:'/static/common/plugs/tablePlug/'}).use(['tablePlug','upload'], function(){
        var $ = layui.jquery
            , layer = layui.layer //弹层
            , form = layui.form //弹层
            , table = layui.table //表格
            , upload = layui.upload
            , tablePlug = layui.tablePlug //表格插件
        tablePlug.smartReload.enable(true);//处理不闪动的关键代码
        //方法级渲染
        table.render({
            elem: '#test-table-reload'
            ,id:'test-table-reload'
            ,url: '/user/list'
            ,where: $('#search-form').parseForm()
            ,initSort:{field:'id', type:'desc'}
            ,even: true //开启隔行背景
            ,defaultToolbar: ['filter', 'print', 'exports']
            ,toolbar: '#toolbarHead'
            ,smartReloadModel:true  //处理不闪动的关键代码
            ,cols: [
                [
                {checkbox: true, fixed: 'left'}
                ,{field:'id', title: 'ID',  sort: true, align:'center'}
                ,{field:'name', title: '名称',minWidth:120, align:'center',templet:function (val) {
                    return '<a title="点击查看头像" onclick="showAvatar(\'/file/fileDown?saveName='+val.field1+'\')" href="javascript:void(0);">'+val.name+'</a>'
                    }}
                ,{field:'code', title: '账号',minWidth:120,  align:'center'}
                ,{field:'sex', title: '性别',  align:'center',templet:function(val){
                    return val.sex=='1'?'男':'女'
                    }}
                // ,{field:'age', title: '年龄', sort: true, align:'center'}
                ,{field:'type', title: '角色',minWidth:150,  sort: true, align:'center',templet:function (val) {
                        var a="<span style='color: green'>普通用户</span>";
                        var b="<span style='color: darkred'>商家</span>";
                        switch (val.type) {
                            case 2:return a;
                            case 3:return b;
                        }
                        return a;
                    }}
                ,{field:'state', title: '状态',minWidth:80, sort: true, align:'center',templet:function (val) {
                    var a="<span style='color: green'>有效</span>";
                    var b="<span style='color: darkred'>冻结</span>";
                    return val.state==1?a:b
                }}
                ,{field:'mobile', title: '手机',minWidth:120,sort: true, align:'center'}
                ,{field:'creditScore', title: '信誉分',sort: true, align:'center'}
                ,{field:'account', title: '账户余额',sort: true, align:'center'}
                ,{field:'email', title: '邮箱',  minWidth:200,align:'center'}
                ,{width:200, title:'操作', align:'center', toolbar: '#barlist',fixed:'right'}
              ]
            ]
            ,request: {
                pageName: 'pageNum' //页码的参数名称，默认：page
                ,limitName: 'pageSize' //每页数据量的参数名，默认：limit
            }
            ,parseData: function(res){ //res 即为原始返回的数据
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.msg, //解析提示文本
                    "count": res.data.total, //解析数据长度
                    "data": res.data.rows //解析数据列表
                };
            }
            ,page: true
            ,height: 'full-150'
            ,done: function(res, curr, count){
               return false;
            }
        });

        //文件上传
        var uploadInst = upload.render({
            elem: '#uploadimg'
            , multiple: false//多图上传，不支持IE8/9
            , url: '/user/upload/' //上传接口
            , field: 'file'//后台接收字段名
            , auto: true    //不自动上传
            ,method: 'post'  //可选项。HTTP类型，默认post
            , accept:'file'
            , exts:"xlsx"
            // , acceptMime: '*/*'
            , before: function (obj) { //选择图片后执行
                layer.load(); //上传loading
            }
            , choose: function (obj) { //选择图片后执行
                obj.preview(function (index, file, result) {
                    console.log(index);
                    console.log(file);
                    console.log(result);
                });
            }
            ,done: function(res,index, upload){
                //上传完毕回调
                if(res.success){
                    layer.msg(res.msg, {icon: 1, time: 1500},function () {
                        table.reload('test-table-reload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                            ,where: $('#search-form').parseForm()
                        });
                        layer.closeAll('loading'); //关闭loading
                    });
                }else{
                    layer.msg(res.msg, {icon: 2, time: 1500},function () {
                        table.reload('test-table-reload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                            ,where: $('#search-form').parseForm()
                        });
                        layer.closeAll('loading'); //关闭loading
                    });
                }
            }
            ,error: function(){
                layer.closeAll('loading'); //关闭loading
            }
                //请求异常回调
        });

        //监听头工具类事件
        table.on('toolbar(test-table-reload)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data;
            var array = [];
            data.forEach(function (val,index,data) {
                array.push(data[index].id);
            });
            switch(obj.event){
                case 'add':
                    WeAdminShow('添加用户','/user/addPage');
                    break;
                case 'download':
                    var url="/file/export?fileName=importUserTemplate.xlsx";
                    window.location.href=url;
                    break;
                // case 'import':
                //     WeAdminShow('添加用户','/user/addPage');
                //     break;

                case 'delete':
                    mydelete(array,table);
                    break;
            };
        });
        //监听行工具类事件
        table.on('tool(test-table-reload)', function(obj){
            var data = obj.data;
            var array = [];
            array.push(data.id);
            switch(obj.event){
                case 'down':
                    if(data.state==2){
                        return layer.msg("用户已禁用！", {icon: 2, time: 1500});
                    }
                    updateState(data.id,table,2);
                    break;
                case 'up':
                    if(data.state==1){
                        return layer.msg("用户已启用！", {icon: 2, time: 1500});
                    }
                    updateState(data.id,table,1);
                    break;
                case 'delete':
                    mydelete(array,table);
                    break;
                case 'edit':
                    WeAdminShow('编辑用户','/user/editPage/'+data.id)
                    break;
            };
        });


        var $ = layui.$, active = {
            reload: function(){
                //执行重载
                table.reload('test-table-reload', {
                   page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: $('#search-form').parseForm()
                });
            }
        };

        // //搜索
        $("#formsearch").on('click',function () {
            table.reload('test-table-reload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: $('#search-form').parseForm()
            });
        });
        //重置
        $("#formreset").on('click',function () {
           $("#search-form")[0].reset();
           layui.form.render();
           table.reload('test-table-reload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: $('#search-form').parseForm()
            });
        });

        // $('#formsearch').on('click', function(){
        //     var type = $(this).data('type');
        //     active[type] ? active[type].call(this) : '';
        // });
    });


    //更新状态
    function updateState (id,table,state) {
        var requestData = {
            id: id,
            state:state
            , deleteTime: getNowTimeStr()
        };
        var title=state==2?'禁用':'启用';
        layer.confirm('确认要'+title +  '用户吗？', function (index) {
            //捉到所有被选中的，发异步进行删除
            $.post("/user/updateState", requestData, function (res) {
                if (res.success) {
                    layer.msg(title+'成功', {
                        icon: 1, time: 1500
                    },function () {
                        table.reload('test-table-reload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                            ,where: $('#search-form').parseForm()
                        });
                    });


                }
            });
        });
    }



    //删除记录
    function mydelete (data,table) {
        if (data.length <= 0) {
            return layer.msg("请选择要删除"  + "的用户！", {icon: 2, time: 1500});
        }
        var requestData = {
            idList: data.join(',')
            , deleteTime: getNowTimeStr()
        };
        layer.confirm('确认要删除' +  data.length + '个用户吗？', function (index) {
            //捉到所有被选中的，发异步进行删除
            $.post("/user/delete", requestData, function (res) {
                if (res.success) {
                    layer.msg('删除成功', {
                        icon: 1, time: 1500
                    },function () {
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                        $(".layui-unselect.header.layui-form-checkbox.layui-form-checked").attr("class","layui-unselect header layui-form-checkbox");
                        table.reload('test-table-reload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                            ,where: $('#search-form').parseForm()
                        });
                    });
                }
            });
        });
    }

    function showAvatar(imgSrc) {
        layer.open({
            title: "用户头像",
            offset: ['25%', '25%'],
            type: 1,
            area: ['auto', '65%'], //宽高
            shadeClose: true,//点击遮罩关闭
            content: "<img style='height: 100%;' src='" + imgSrc + "'/>"
        });
    }
</script>

</body>
</html>