<!doctype html>
<html class="no-js" lang="en">

<head th:replace="home/public/header::head(~{::title},~{},~{})">
    <title>404页-云裳·汉服商城</title>
</head>

<body>

    <div class="contact-wrapper">
        <div th:replace="home/public/header::headmenu"></div>
        <!-- Breadcrumb Area Start Here -->
        <div class="breadcrumbs-area position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="breadcrumb-content position-relative section-content">
                            <h3 class="title-3">Error 404</h3>
                            <ul>
                                <li><a href="/home/index">Home</a></li>
                                <li>Error 404</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Area End Here -->
        <!-- Error 404 Area Start Here -->
        <div class="error-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="error_form">
                            <h1>404</h1>
                            <h2>哎呀! 找不到页面</h2>
                            <p>Sorry but the page you are looking for does not exist, have been<br> removed, name changed or is temporarily unavailable.</p>
                            <form action="/home/goods/homeListPage">
                                <input name="name" placeholder="查询某个商品" type="text">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                            <a href="/home/index">回到首页</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="support-area" th:replace="home/public/footer::support-area"></div>
        <footer th:replace="home/public/footer::footer"></footer>
    </div>

</body>

</html>
